body {
    font-family: 'Helvetica';
    margin: 0;
}

.title {
    font-size: 2rem;
}

.textarea {
    min-width: 500px;
    min-height: 300px;
    font-family: 'Helvetica';
    font-size: 1.1rem;
    /* border: 1px solid #aaa; */
    border-radius: 4px;
    padding: 20px;
}

.textarea:focus {
    outline: none;
}

.appear {
    visibility: visible;
    position: absolute;
}

.disappear {
    visibility: hidden;
}

.notelist {
    width: 199px;
    border-right: 1px solid #ddd;
    height: 100vh;
}

.notelist-list {
    display: flex;
    flex-direction: column-reverse;
}

.notelist-header {
    border-bottom: 1px solid #ddd;
    color: #888;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.note {
    border-bottom: 1px solid #ddd;
    padding: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.noteedit {
    width: calc(100% - 200px);
    /* padding: 20px 40px; */
    padding: 0;
    position: relative;
}

.container {
    display: flex;
}

.time {
    text-align: center;
    color: #ccc;
    padding: 20px;
}

button {
    border: none;
    background: #f3f3f3;
    padding: 8px;
}

#new {
    background: none;
    padding: 0;
    color: #888;
}

.button-container {
    background: #f3f3f3;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(154,160,185,.1), 0 6px 10px rgba(166,173,201,.2);
}

.active {
    background: #eee;
}

.inactive {
    background: #fff;
}