body {
    font-family: 'Helvetica';
    margin-top: 0;
    margin-bottom: 0;
}

.title {
    font-size: 2rem;
}

.textarea {
    min-width: 500px;
    min-height: 300px;
    font-family: 'Helvetica';
    font-size: 1.1rem;
    /* border: 1px solid #aaa; */
    border-radius: 4px;
    margin-top: 40px;
}

.textarea:focus {
    outline: none;
}

.appear {
    visibility: visible;
    position: absolute;
}

.disappear {
    visibility: hidden;
}

.notelist {
    width: 199px;
    border-right: 1px solid #ddd;
    height: 100vh;
}

.noteedit {
    width: calc(100% - 200px);
    padding: 20px 40px;
    position: relative;
}

.container {
    display: flex;
}

.time {
    text-align: center;
    color: #ccc;
}